[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color]
	ui = true
[branch]
	autosetupmerge = true
[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = $HOME/.gitignore
[alias]
	st = status
	stat = status
	ci = commit
	br = branch
	branchlog = "!git log $(git rev-parse --not --branches | grep -v $(git rev-parse $1)) $1"
        f = fetch
	co = checkout
	df = diff
        dc = diff --cached
	dif = diff
	lg = log -p
	up = pull
	new = "!git log $(ref=$(git symbolic-ref HEAD); echo $(git config -z --get branch.${ref##refs/heads/}.remote)/$(rbranch=$(git config --get branch.${ref##refs/heads/}.merge); echo ${rbranch##refs/heads/})).."
        wheres=branch -a --contains
	cleanup = !git_cleanup
	only = !git_only
[push]
	default = tracking
[pull]
	default = rebase
[user]
	name = Chris Petersen
[merge]
	tool = vimdiff
